In [8]:
import pandas as pd
import os

In [19]:
df = pd.read_csv("./outputs/us_population.csv")
df.head()

   Unnamed: 0 ID Nation         Nation  Year  Population
0           0   01000US  United States  2022   331097593
1           1   01000US  United States  2021   329725481
2           2   01000US  United States  2020   326569308
3           3   01000US  United States  2019   324697795
4           4   01000US  United States  2018   322903030

In [21]:
print('Dataframe size:', df.size)
print(df.dtypes)
print(df.shape)

Dataframe size: 50
Unnamed: 0     int64
ID Nation     object
Nation        object
Year           int64
Population     int64
dtype: object
(10, 5)

In [22]:
df.memory_usage(deep=True)

Index         128
Unnamed: 0     80
ID Nation     640
Nation        700
Year           80
Population     80
dtype: int64

In [25]:
df2 = pd.read_csv("./outputs/us_population.csv")
df2.head()

   Unnamed: 0 ID Nation         Nation  Year  Population
0           0   01000US  United States  2022   331097593
1           1   01000US  United States  2021   329725481
2           2   01000US  United States  2020   326569308
3           3   01000US  United States  2019   324697795
4           4   01000US  United States  2018   322903030

In [26]:
df2.memory_usage(deep=True)

Index         128
Unnamed: 0     80
ID Nation     640
Nation        700
Year           80
Population     80
dtype: int64

In [27]:
df.shape

(10, 5)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10 non-null     int64
 1   ID Nation   10 non-null     object
 2   Nation      10 non-null     object
 3   Year        10 non-null     int64
 4   Population  10 non-null     int64
dtypes: int64(3), object(2)
memory usage: 528.0+ bytes